.badge-animation {
    animation: badge-spin 1s linear 250ms 1 normal none;
}

@keyframes badge-spin {
    0% {
        transform: scale(1.0) rotateY(0deg);
    }
    50% {
        transform: scale(1.1) rotateY(360deg);
    }
    100% {
        transform: scale(1.0) rotateY(720deg);
    }
}