@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0px;
  overflow: hidden;*/
}

body * {
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

body {
  color: #345f87;
  text-align: center;
  font-weight: bold;
  background-color: #f3f5f6;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.2rem;
}

span {
  font-size: 1.7rem;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
}

button {
  font-size: 1.7rem;
}

img {
  pointer-events: none;
}
